
.nav{
    height: 7%;
    width: 100%;
    background-color: rgb(17, 163, 222);
    display: flex;
    justify-content: space-between;
}

.nav_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: aliceblue; */
}

.nav_left_first{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    font-size: 0.8rem;
}
.nav_left_second {
    color: white;
    height: 100%;
    display: flex;
    justify-content: start;
    font-size: 0.8rem;
    align-items: center;
    margin-left: 3%;
}

.nav_right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
   
}



.nav_right_first{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    font-size: 0.8rem;
}


.nav_right_second{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    font-size: 0.8rem;
}


.nav_menu {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_menu_left{
    height: 100%;
    width: 20%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2%;
   
}

.nav_menu_left_logoname{
    height: auto;
    width: auto;
    font-size: 1.7rem;
    font-weight: bold;
}


.nav_menu_center{
    height: 100%;
    width: 40%;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu_center_first_active{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: rgb(17, 163, 222);
}

.nav_menu_center_remain {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.nav_menu_end{
    height: 100%;
    width: 10%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_menu_end_first{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_menu_end_second {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroic_left {
    height: 100%;
    width: 50%;
    background-color: white;
    box-shadow: white 30px 0px 34px -5px;
    padding-left: 4%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.heroic_left_build_title {
    height: 10%;
    min-width: 4%;
    text-align: start;
    color: rgb(17, 163, 222);
    font-weight: bold;
    font-size: 0.9rem;
}

.heroic_left_best_title{
    max-height: 20%;
    text-align: start;
    font-size: 3rem;
    width: 65%;
}

.heroic_left_wehelp_title{
    height: 10%;
    text-align: start;
    margin-top: 10%;
    width: 50%;
    font-size: 0.9rem;
}

.heroic_under_nav {
    width: 100%;
    height: 12%;
    background-color: rgb(17, 163, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroic_under_nav_left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    font-size: 1.5rem;
    color: white;
}

.heroic_under_nav_right{
    height: 70%;
    background-color: white;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    font-weight: bold;
    font-size: 0.9rem;
}

.whoweare{
    height: 70%;
    width: 100%;
    display: flex;
}

.whoweare_left{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 5%;
}

.whoweare_right{
    text-align: start;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 0%;
}
.whoweare_title{
    height: 10%;
    max-width: 30%;
    margin-top: 13%;
    display: flex;
    align-items: center;
    color: rgb(17, 163, 222);
}

.whyEX2{
    height: 10%;
    max-width: 25%;
    margin-top: 13%;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: rgb(17, 163, 222);
}
.whyEX2_ul{
    height: 10%;
    padding-left: 0%;
    font-size: 0.8rem;
}
.our_services {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.our_servicespara{
    height: 20%;
    width: 40%;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    line-height: 130%;
    color: grey;
}
.our_servicesfour{
    width: 89%;
    height: 39%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our_servicesbox{
    height: 100%;
    width: 20%;
    background-color: slateblue;
    position: relative;
}
.explore_para{
    height: 20%;
    width: 62%;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    line-height: 130%;
    color: grey;
}
.explore_three{
    width: 89%;
    height: 41%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.explore_box{
    height: 100%;
    width: 30%;
    background-color: slateblue;
    position: relative;
}
.explore_box2{
    height: 100%;
    width: 30%;
    background-color: slateblue;
    position: relative;
}
.explore_box_under{
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
    height: 105%;
    width: 90%;
    position: absolute;
    bottom: -105%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    flex-direction: column;
    padding-bottom: 5%;
}
.explore_box_under_para{
    text-align: start;
    height: 45%;
    color: grey;
    font-size: 0.9rem;
    width: 65%;
    line-height: 110%;
}
.perfect_para {
    color: white;
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.tips_para {
    height: 20%;
    width: 40%;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    line-height: 130%;
    color: grey;
}
.tips_box{
    width: 89%;
    height: 39%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_with_img{
    height: 65%;
    width: 100%;
   
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer_inside{
    width: 89%;
    height: 70%;
    display: flex;
}
.footerinput_div {
    width: 80%;
    height: 30%;
    display: inline-flex;
}
.footer_links{
    flex: 0.5 1 0%;
    text-align: start;
}
.footer_ul{
    list-style-type: none;
    height: 12%;
    margin-top: 12%;
}
.footer_ul2{ 
    list-style-type: none;
    height: 12%;
    margin-top: 12%;
}
.newsletter{
    display: inline;
    color: white;
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.newslettermain{
    flex: 1 1 0%;
    text-align: start;
}
.last_footer{
    font-size: 0.8rem;
    width: 100%;
    height: 10%;
    background-color: rgb(24, 24, 24);
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.servicebox_inside{
    height: 100%;
    width: 30%;
    background-color: slateblue;
    position: relative;
}
.technologycreatebtn{
    width: 50%;
    height: 20%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 163, 222);
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}

.share_btn{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 768px) 


{
    .share_btn{
        height: 35px;
        width: 35px;
    }
    .technologycreatebtn {
        width: 50%;
        height: 20%;
        margin-top: 3%;
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 163, 222);
        font-size: 0.9rem;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 1px;
    }
    .servicebox_inside {
        height: 160%;
        width: 90%;
        background-color: slateblue;
        position: relative;
        margin-top: 61%;
        padding: 28% 0%;
    }
    .last_footer{
        font-size: 0.8rem;
        width: 100%;
        height: 6%;
        background-color: rgb(24, 24, 24);
        position: absolute;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .newslettermain {
        flex: 1 1;
        text-align: start;
        margin-top: 13%;
    }
    .newsletter{
        display: inline;
        color: white;
        letter-spacing: 2px;
        font-size: 1.3rem;
    }
    .footer_ul2{ 
        list-style-type: none;
        height: 23%;
        margin-top: 5%;
    }
    .footer_ul{
        list-style-type: none;
        height: 23%;
        margin-top: 5%;
    }
    .footer_links{
        flex: 0.5 1 0%;
        text-align: start;
        margin-top: 10%;
    }
    .button_demo3 {
        background-color: rgb(17, 163, 222);
        border: none;
        color: white;
        padding: 1px auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        height: 10%;
        width: 37%;
        margin-top: 1%;
    }
    .footerinput_div {
        width: 92%;
        height: 64%;
        display: inline-flex;
        margin-top: 10%;
    }
    .footer_inside{
        width: 89%;
        height: 70%;
        display: flex;
        flex-direction: column;
    }
    .footer_with_img {
        min-height: 128%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
    }
    .tips_box{
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        /* overflow: auto; */
        overflow-x: auto;
        /* overflow-y: hidden; */
        /* white-space: nowrap; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* overflow-x: scroll; */
        /* align-items: center; */
        padding-bottom: 10%;
    }
    .tips_para {
        height: 20%;
        width: 74%;
        overflow-wrap: break-word;
        font-size: 0.9rem;
        line-height: 130%;
        color: grey;
    }
    .perfect_para {
        color: white;
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-top: 19%;
    }
    .explore_box2 {
        height: 100%;
        width: 99%;
        background-color: slateblue;
        position: relative;
        margin-top: 52%;
    }
    .explore_box_under_para{
        text-align: start;
        height: 45%;
        color: grey;
        font-size: 0.9rem;
        width: 79%;
        line-height: 110%;
    }
    .explore_box_under{
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
        height: 105%;
        width: 90%;
        position: absolute;
        bottom: -105%;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-left: 10%;
        flex-direction: column;
        padding-bottom: 5%;
    }
    .explore_box {
        height: 235%;
        width: 90%;
        background-color: slateblue;
        position: relative;
        margin-top: 61%;
        padding: 27% 0%;
    }
    .explore_three{
        align-items: center;
     max-width: 100%;
       max-height: 100%;
        /* overflow: auto; */
        overflow-x: auto;
        /* overflow-y: hidden; */
        /* white-space: nowrap; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* overflow-x: scroll; */
       /* align-items: center; */
       padding-bottom: 10%;
    }
    .explore_para{
        height: 20%;
        width: 62%;
        overflow-wrap: break-word;
        font-size: 0.9rem;
        line-height: 130%;
        color: grey;
    }
    .our_servicesbox {
        height: 100%;
        width: 82%;
        background-color: slateblue;
        position: relative;
        margin: 3%;
    }
    .our_servicesfour {
        width: 89%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -18%;
    }
    .our_servicespara{
        height: 20%;
        width: 63%;
        overflow-wrap: break-word;
        font-size: 0.9rem;
        line-height: 130%;
        color: grey;
    }
    
   
    *,html {
        margin: 0;
        padding: 0;
       font-size: 13px;
       font-family:Tahoma;
      color: #3b3b3b;
       /* background-color: #90dcd0; */
      
      width: 100%;
      height: 100%;
      scroll-behavior: smooth;
      
      }
      .our_services {
        height: 200%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 43%;
    }
      .nav {
        height: 16%;
        width: 100%;
        background-color: rgb(17, 163, 222);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .nav_left {
        width: 98%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        /* background-color: aliceblue; */
    }
    .nav_right {
        width: 84%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .nav_menu {
        height: 12%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .nav_menu_left {
        height: 100%;
        width: 69%;
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 2%;
        /* background-color: aqua; */
        margin-top: 3%;
    }
    .nav_menu_center {
        height: 100%;
        width: 100%;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }
    .nav_menu_end {
        height: 100%;
        width: 27%;
        margin-right: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: end;
        margin-top: 3%;
    }

    .heroic_left {
        height: 100%;
        width: 100%;
        background-color: white;
        box-shadow: white 30px 0px 34px -5px;
        padding-left: 4%;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    }
    .heroic_left_best_title {
        max-height: 20%;
        text-align: start;
        font-size: 3rem;
        width: 94%;
    }
    .heroic_left_build_title {
        height: 10%;
        min-width: 4%;
        text-align: start;
        color: rgb(17, 163, 222);
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 17%;
    }
    .heroic_left_wehelp_title {
        height: 10%;
        text-align: start;
        margin-top: 10%;
        width: 64%;
        font-size: 0.9rem;
    }
    .button_demo {
        background-color: rgb(17, 163, 222);
        border: none;
        color: white;
        padding: 1px auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        height: 10%;
        width: 37%;
        margin-top: 10%;
    }
    .heroic_under_nav_right {
        height: 70%;
        background-color: white;
        width: 39%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3%;
        font-weight: bold;
        font-size: 0.9rem;
    }
    .whoweare {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .whoweare_left {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding-left: 5%;
    }
    .whoweare_title{
        height: 10%;
        max-width: 46%;
        margin-top: 13%;
        display: flex;
        align-items: center;
        color: rgb(17, 163, 222);
        padding-bottom: 3%;
    }

    .whoweare_right {
        text-align: start;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding-left: 0%;
    }
    .whyEX2 {
        margin-left: 6%;
        height: 10%;
        max-width: 40%;
        margin-top: 13%;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        color: rgb(17, 163, 222);
    }
    .whyEX2_ul {
        height: 10%;
        padding-left: 6%;
        font-size: 0.8rem;
    }
    .whyEX2_ul {
        height: 21%;
        padding-left: 6%;
        font-size: 0.8rem;
        margin-top: 4%;
        padding-bottom: 9%;
        width: 91%;
    }
    .button_demo2 {
        background-color: rgb(17, 163, 222);
        border: none;
        color: white;
        padding: 1px auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
       
        margin-top: 10%;
        width: 35%;
        height: 32%;
    }
}